<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body class="container"></body>
<header class="page header">
    <br>
<h1 class="text-center">Sticker Mania!</h1>
<br>
<div class="text-center">
<a class="btn btn-primary text-center" href="/login">Login</a>
or 
<a class="btn btn-success text-center" href="/signup">Signup</a>
</div>
 </header>
</body>
<main>
    
</main>

<footer>
    <%- include ('partials/footer') %>
</footer>

</body>
</html>