<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body class="container"></body>
<header class="page header">
    <br>
<h1 class="text-center">Logging out of Sticker Mania...</h1>
<br>
 </header>
</body>
<main>
    
</main>
<script src="shared.js" charset="utf-8"></script>
<script type="text/javascript">
    logout();
</script>
<footer>
    <%- include ('partials/footer') %>
</footer>

</body>
</html>